<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nose Mask</title>
    
    <!-- ===== Link Swiper's CSS ===== -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>

    <!-- ===== Fontawesome CDN Link ===== -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
        
    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="./CSS/homepage.css">
</head>
<body>
  <div id="header"> NOSE MASK DECTECTION WEB-APPLICATION</div>
    <div class="cards">
        <div id="card">
            <div id="card-head">
                <div class="card-content">
                    <div class="image">
                      <img src="images/c.jpg" alt="">
                    </div>
                </div>      
            </div>
                <div class="media-icons">
                  <i class="fab fa-facebook"></i>
                  <i class="fab fa-twitter"></i>
                  <i class="fab fa-github"></i>
                </div>
        
                <div class="name-profession">
                  <span class="name">Record Live</span>
                  <span class="profession">In order to record live, you need<br> to click on the button below <br>to under take the activity</span>
                </div>
                <div class="button">
                  <button class="aboutMe"><a href="<%= live %> ">LIVE PREDICTION </a></button>
                </div>

       </div>
       <div id="card">
        <div id="card-head">
            <div class="card-content">
                <div class="image">
                  <img src="images/b.jpg" alt="">
                </div>
            </div>      
        </div>
            <div class="media-icons">
              <i class="fab fa-facebook"></i>
              <i class="fab fa-twitter"></i>
              <i class="fab fa-github"></i>
            </div>
    
            <div class="name-profession">
              <span class="name">Record Live</span>
              <span class="profession">In order to record live, you need<br> to click on the button below <br>to under take the activity</span>
            </div>
            <div class="button">
              <button class="aboutMe"><a href="<%= upload %> ">UPLOAD IMAGE </a></button>
            </div>

     </div>
  </div>
  <div id="footer"> copyright @2022</div>
</body>
</html>
